body {
	margin: 0;
	overflow: hidden;
}

#upper  {
	height: 52px;
	width: 100%;

	background-color: rgba(24, 24, 24, 0.71);
	box-shadow: 3px 3px 3px #888888;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
	align-items: baseline;
	padding-top: 46px;
	padding-bottom: 46px;

	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 52px;
	color: white;
}

#tflive-logo {
	position: absolute;
	left: 0px;
	bottom: 82%;
}

#now-playing {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 720px;

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background-color: rgba(24, 24, 24, 0.71);
	padding-left: 20px;
	color: white;
	font-size: 22px;
}

#vs {
	padding-left: 37px;
	padding-right: 37px;
	color: white;
}

#maps {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: white;

	position: relative;
	top: 20px;

	background-color: rgba(24, 24, 24, 0.71);
	width: auto;
	display: inline-block;
	padding: 20px;
}

#lower {
	height: 122px;
	width: 100%;
	position: absolute;
	bottom: 0%;

	background-color: rgba(24, 24, 24, 0.71);
	box-shadow: 3px 3px 3px #888888;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
}

.profile {
	display: flex;
	flex-direction: row;

	position: relative;
	top: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15.2px;
	color: white;
}

.profile-info {
	display: flex;
	flex-direction: column;

	padding-top: 20px;
	padding-left: 11px;
}

.twitter {
	height: 80px;
	width: 80px;
	display: none;
}

.caster-border {
	border-image: url(mic.png) 96 0 0 96 repeat round;
	border-style: solid;
	border-width: 35px 0px 0px 35px;
}

.role-icon {
	position: relative;
	left: 5px;
	bottom: 50px;
	height: 35px;
	width: 35px;
}

.active {
	position: relative;
	display: none; /*hide the active music by default*/
	height: 15px;
	bottom: 115px;
	left: 42px;
}
