body {
	margin: 0;
	overflow: hidden;
}

#upper {
	height: 52px;
	width: 100%;

	background-color: rgb(42,39,37);
	box-shadow: 3px 3px 3px #888888;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-between;
	padding: 20px 5px;

	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 52px;
	color: white;
}

#tflive-logo {
	display: none;
	position: absolute;
	left: 0px;
	bottom: 82%;
}

#vs {
	padding-left: 37px;
	padding-right: 37px;
	color: white;
}

#maps {
	text-align: center;
	padding: 8px 5px;
	position: relative;
	top: 5px;
	left: 38%;
	min-width: 450px;

	background-color: rgb(42,39,37);

	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;

	tranform: translate(-40%);

	width: auto;
	display: inline-block;
	padding: 10px;
}

#mumble {
	background-color: rgb(42,39,37);

	visibility: hidden;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: auto;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); /* Yep! */
}

.mumble-player {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 25px;
}

.mumble-player::before {
	display: inline-block;
	font: normal normal normal 25px/1 FontAwesome, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	vertical-align: inherit;
	content: '\f007';
}

#music {
	position: absolute;
	bottom: 160px;
	left: 0;

	display: inline-block;
	background-color: rgb(42,39,37);
	padding: 10px;
	width: auto;

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
	color: white;
}

#music #text::before {
	display: inline;
	padding-right: 5px;
	font: normal normal normal 25px/1 FontAwesome, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	vertical-align: inherit;
	content: '\f001';
}

#lower {
	height: 122px;
	width: 100%;
	position: absolute;
	bottom: 0%;

	background-color: rgb(42,39,37);
	box-shadow: 3px -1px 3px 3px #888888;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
}

.profile {
	display: flex;
	flex-direction: row;

	position: relative;
	top: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15.2px;
	color: white;
}

.profile-info {
	display: flex;
	flex-direction: column;

	padding-top: 20px;
	padding-left: 11px;
}

.caster .profile-info::before {
	display: block;
	content: url(../img/icons/mic.png);
	position: relative;
	right: 126px;
	bottom: 30px;
	height: 1px;
	width: 1px;
	transform: scale(.4);
}

.analyst .profile-info::before {
	display: block;
	content: url(../img/icons/mic-bowtie.png);
	position: relative;
	right: 126px;
	bottom: 30px;
	height: 1px;
	width: 1px;
	transform: scale(.4);
}

.camera .profile-info::before {
	display: block;
	content: url(../img/icons/camera.png);
	position: relative;
	right: 126px;
	bottom: 30px;
	height: 1px;
	width: 1px;
	transform: scale(.4);
}

.voice-active  .profile-info::after {
	display: block;
	content: url(../img/icons/active.png);
	height: 1px;
	width: 1px;
	transform: scale(.19);
	position: relative;
	right: 124px;
	bottom: 87px;
}

.twitter {
	height: 80px;
	width: 80px;
	visibility: hidden;
}

.role-icon {
	position: relative;
	left: 5px;
	bottom: 50px;
	height: 35px;
	width: 35px;
}

.active {
	position: relative;
	visibility: hidden;
	height: 15px;
	bottom: 85px;
	left: 40px;
}
